In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('nba.csv')

In [3]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [4]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [5]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [6]:
df = df.dropna(subset=['Name'])

In [7]:
df.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College     84
Salary      11
dtype: int64

In [8]:
df['College'] = df['College'].fillna('Unavailable')

In [9]:
df.isnull().sum()

Name         0
Team         0
Number       0
Position     0
Age          0
Height       0
Weight       0
College      0
Salary      11
dtype: int64

In [10]:
mean_Salary = df['Salary'].mean()
df['Salary'] = df['Salary'].fillna(value = mean_Salary)

In [11]:
df.isnull().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [12]:
data_desc = pd.DataFrame(df.groupby('Position').describe())

In [13]:
data_desc['Salary']

,count,mean,std,min,25%,50%,75%,max
Position,,,,,,,,
C,78.0,5.967052e+06,5.787989e+06,83397.0,1328880.00,3811060.0,9620558.25,22359364.0
PF,100.0,4.570889e+06,4.727010e+06,111444.0,1123722.25,3000000.0,5543725.00,22192730.0
PG,92.0,5.067606e+06,4.939768e+06,55722.0,1448610.00,3106518.0,7000000.00,21468695.0
SF,85.0,4.857220e+06,5.975997e+06,30888.0,1000000.00,2041080.0,5500000.00,25000000.0
SG,102.0,4.034356e+06,4.426658e+06,55722.0,947276.00,2394102.5,5675000.00,20000000.0

In [14]:
data_desc['Weight']

          count        mean        std    min     25%    50%    75%    max
Position
C          78.0  254.205128  15.974297  220.0  245.00  250.0  265.0  307.0
PF        100.0  240.430000  12.591688  200.0  233.50  240.0  250.0  275.0
PG         92.0  189.478261  11.422436  161.0  183.75  190.0  200.0  220.0
SF         85.0  221.776471  14.286504  175.0  210.00  225.0  230.0  260.0
SG        102.0  206.686275  12.857929  175.0  199.25  209.5  217.5  234.0

In [15]:
import pandas as pd

summary_stats = df.groupby('Position')['Salary'].agg(
    mean_salary='mean',
    median_salary='median',
    min_salary='min',
    max_salary='max',
    std_salary='std'
)

print(summary_stats)

           mean_salary  median_salary  min_salary  max_salary    std_salary
Position
C         5.967052e+06      3811060.0     83397.0  22359364.0  5.787989e+06
PF        4.570889e+06      3000000.0    111444.0  22192730.0  4.727010e+06
PG        5.067606e+06      3106518.0     55722.0  21468695.0  4.939768e+06
SF        4.857220e+06      2041080.0     30888.0  25000000.0  5.975997e+06
SG        4.034356e+06      2394102.5     55722.0  20000000.0  4.426658e+06

In [16]:
bins = [15, 20, 25, 30, 35, 40]
labels = ['Youth', 'Young Adult', 'Prime', 'Experienced', 'Veteran']
# Youth = 15-20
# Young Adult = 21-25
# Prime = 26-30
# Expereinced=31-35
# Vetran=36-40

In [17]:
df['AgeGroup'] = pd.cut(
    df['Age'],
    bins=bins,
    labels=labels,
    right=True,        
    include_lowest=True
)

In [18]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,AgeGroup
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7.730337e+06,Young Adult
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6.796117e+06,Young Adult
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,4.842684e+06,Prime
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1.148640e+06,Young Adult
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,Unavailable,5.000000e+06,Prime

In [19]:
data_stats = df.groupby('AgeGroup').describe()

/tmp/ipykernel_3767/3498996526.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data_stats = df.groupby('AgeGroup').describe()

In [20]:
data_stats['Salary']

,count,mean,std,min,25%,50%,75%,max
AgeGroup,,,,,,,,
Youth,21.0,2.650043e+06,1.454546e+06,525093.0,1733040.00,2.357760e+06,3.777720e+06,5703600.0
Young Adult,178.0,3.075576e+06,3.705587e+06,30888.0,947276.00,1.554120e+06,3.451110e+06,16407501.0
Prime,167.0,6.388329e+06,5.603849e+06,55722.0,1444980.00,4.842684e+06,9.825000e+06,22359364.0
Experienced,68.0,6.635271e+06,6.238296e+06,200600.0,2096417.75,4.671342e+06,9.667979e+06,22970500.0
Veteran,23.0,3.997994e+06,5.155445e+06,222888.0,947276.00,2.854940e+06,4.921342e+06,25000000.0

In [36]:
iris_df=pd.read_csv('Iris.csv')

In [37]:
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [38]:
iris_df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [42]:
iris_df.groupby('Species').describe()

                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm         ... PetalLengthCm      PetalWidthCm  \
                        count   mean  ...           75%  max        count
Species                               ...
Iris-setosa              50.0  5.006  ...         1.575  1.9         50.0
Iris-versicolor          50.0  5.936  ...         4.600  5.1         50.0
Iris-virginica           50.0  6.588  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 40 columns]

In [45]:
setosa_data = iris_df[iris_df['Species'] =='Iris-setosa']

In [46]:
setosa_data.describe()

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [52]:
versicolor_data = iris_df[iris_df['Species'] == 'Iris-versicolor']

In [53]:
versicolor_data.describe()

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

In [56]:
viginica_data = iris_df[iris_df['Species'] == 'Iris-virginica']

In [57]:
viginica_data.describe()

              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000